<div id="project_config_webhooks" class="well">
  <fieldset>
    <legend>Webhooks</legend>
    <div class="alert alert-success hide"></div>
    <p>
      Target URLs will receive a HTTP POST from Strider
      with a JSON payload on each project test run. These
      enable you to receive and process real-time push
      notifications from our system. Push notifications
      are signed cryptographically with HMAC-SHA1 using a
      shared secret so you can verify their
      authenticity. Signatures are transmitted in
      the
      <a href="http://pubsubhubbub.googlecode.com/svn/trunk/pubsubhubbub-core-0.3.html#authednotify">
        X-Signature-Hub header.
      </a>
      <a href="https://gist.github.com/3029840">See a sample payload.</a>
    </p>
    <div class="row-fluid">
      <div class="span9">
        <table class="table">
          <thead>
            <th>Hook Title</th>
            <th>TargetURL for HTTP Post</th>
            <th>Shared secret for HMAC-SHA1 signature</th>
          </thead>
          <tbody>
            <tr ng-repeat-start="hook in hooks">
              <td><input ng-model="hook.title"></td>
              <td><input ng-model="hook.url"</td>
              <td><input ng-model="hook.secret"></td>
              <td class="remove">
                <button class="btn btn-danger" ng-disabled="saving" ng-click="remove(hook)">
                  <i class="icon-remove"></i>
                </button>
              </td>
            </tr>
            <tr ng-repeat-end>
              <td colspan="4">
                <textarea
                   placeholder="You can put a custom payload format here"
                   ng-model="hook.format">
                </textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-success" ng-click="add()" ng-disabled="saving">Add</button>
        <button class="btn" ng-click="save()" ng-disabled="saving">Save Hooks</button>
      </div>
    </div>
  </fieldset>
</div>
