
#project_config_webhooks {
  .input-append {
    input {
      display: block;
      width: 100%;
    }
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }

  table {
    width: 100%;
  }

  fieldset {
    width: 100%;
    max-width: 970px;
  }

  .icon-remove {
    padding-left: 0px;
    padding-right: 0px;
  }
}
